@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/OpenSans/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}

.row.info h2 {
  opacity: 0.8;
  color: #000000;
  font-family: "OpenSans", serif;
  font-size: 42px;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", serif;
}

body, html {
  height: 100%;
  box-sizing: border-box;
  line-height: 1;
}

header {
  background-color: #f6f2f2;
  overflow: hidden;
  height: 688px;
}

nav {
  display: block;
  width: 1249px;
  height: 89px;
  background-color: #313030;
  margin: 29px auto;
  position: relative;
}

nav ul {
  width: 465px;
  margin: auto;
}

nav ul li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
}

nav ul li a {
  display: block;
  line-height: 89px;
  color: #e0e0e0;
  font-size: 14px;
  font-weight: bold;
  padding-left: 24px;
  padding-right: 24px;
}

nav ul li a:hover {
  text-decoration: none;
  color: #e0e0e0;
  background-color: #ff3f40;
}

.organization div:last-child {
  float: right;
}

.organization .title {
  display: inline-block;
  width: 50%;
  margin-top: 90px;
}

.organization .title h1 {
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 6px;
  text-transform: uppercase;
  line-height: 72px;
  color: #000;
}

.organization .title h1 span {
  letter-spacing: 1.5px;
}

.organization .title p {
  display: inline-block;
  margin-top: 6px;
  width: 512px;
  text-align: justify;
  font-family: "OpenSans", serif;
  line-height: 28px;
}

.organization .title .button {
  margin-top: 32px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background-color: #ff2d2d;
  width: 227px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  line-height: 55px;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;
  cursor: pointer;
}

.organization .title .button:focus, .organization .title .button:hover {
  text-decoration: none;
  color: #fff;
}

.organization .title .button:hover {
  background-color: #ff4747;
}

.organization .title .button:active {
  background-color: #ff1414;
}

.organization .video {
  display: inline-block;
  margin-top: 103px;
  border-radius: 10px;
  box-shadow: 0 0 50px 20px #AAA;
}

.row.info {
  margin-top: 108px;
}

.row.info h2 {
  line-height: 55px;
  text-transform: uppercase;
  letter-spacing: 0.42px;
}

.row.info p {
  font-family: "OpenSans", serif;
  font-size: 16px;
  line-height: 28px;
  margin-top: 33px;
  width: 509px;
  text-align: justify;
}

.row.info .button {
  margin-top: 35px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #ff0000;
  color: #ff2d2d;
  width: 227px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  line-height: 55px;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .1s ease;
  cursor: pointer;
}

.row.info .button:focus {
  text-decoration: none;
  color: #ff2d2d;
}

.row.info .button:hover {
  background-color: #ff4747;
  color: #FFF;
  text-decoration: none;
}

.row.info .button:active {
  background-color: #ff1414;
}

.row.info .icon {
  font-size: 41px;
  color: #ff3b4a;
}

.row.info .sec {
  font-family: OpenSans, serif;
  font-size: 24px;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .container {
    padding: 0;
    margin-bottom: 0;
    /**/
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 576px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1249px;
    /**/
  }
}
