@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: italic;
  src: url("../fonts/OpenSans/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}

#info h2, #features h2, #Team h2, form.contact .title-form h2 {
  opacity: 0.8;
  color: #000000;
  font-family: "OpenSans", serif;
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

header {
  background-color: #f6f2f2;
  overflow: hidden;
  height: 688px;
}

ul {
  list-style: none;
}

.toggle-button {
  display: none;
  margin-top: 29px;
  width: 100%;
  height: 50px;
  background-color: #313030;
  text-align: center;
}

.toggle-button p {
  text-transform: uppercase;
  color: #e0e0e0;
  line-height: 50px;
  font-size: 20px;
}

.toggle-button:hover {
  background-color: #3e3d3d;
  cursor: pointer;
}

nav {
  display: block;
  height: 89px;
  background-color: #313030;
  margin: 29px auto;
  position: relative;
}

nav ul {
  max-width: 465px;
  margin: auto;
}

nav ul li {
  display: inline-block;
  text-transform: uppercase;
}

nav ul li a {
  display: block;
  line-height: 89px;
  color: #e0e0e0;
  font-size: 14px;
  font-weight: bold;
  padding-left: 24px;
  padding-right: 24px;
}

nav ul li a:hover {
  text-decoration: none;
  color: #e0e0e0;
  background-color: #ff3f40;
}

.organization div:last-child {
  float: right;
}

.organization .title {
  display: inline-block;
  width: 50%;
  margin-top: 90px;
}

.organization .title h1 {
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 6px;
  text-transform: uppercase;
  line-height: 72px;
  color: #000;
}

.organization .title h1 span {
  letter-spacing: 1.5px;
}

.organization .title p {
  display: inline-block;
  margin-top: 6px;
  width: 512px;
  text-align: justify;
  font-family: "OpenSans", serif;
  line-height: 28px;
  font-size: 16px;
}

.organization .title .button {
  margin-top: 32px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  background-color: #ff2d2d;
  width: 227px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  line-height: 55px;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease;
  cursor: pointer;
}

.organization .title .button:focus, .organization .title .button:hover {
  text-decoration: none;
  color: #fff;
}

.organization .title .button:hover {
  background-color: #ff4747;
}

.organization .title .button:active {
  background-color: #ff1414;
}

.organization .video {
  display: inline-block;
  margin-top: 103px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px 20px #AAA;
          box-shadow: 0 0 50px 20px #AAA;
}

#info {
  margin-top: 108px;
}

#info h2 {
  line-height: 55px;
  text-transform: uppercase;
  letter-spacing: 0.42px;
}

#info p {
  font-family: "OpenSans", serif;
  font-size: 16px;
  line-height: 28px;
  margin-top: 33px;
  width: 509px;
  text-align: justify;
}

#info .button {
  margin-top: 35px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #ff2d2d;
  color: #ff2d2d;
  width: 227px;
  height: 55px;
  font-size: 18px;
  font-weight: bold;
  line-height: 55px;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease;
  cursor: pointer;
}

#info .button:focus {
  text-decoration: none;
  color: #ff2d2d;
}

#info .button:hover {
  background-color: #ff4747;
  color: #FFF;
  text-decoration: none;
}

#info .button:active {
  background-color: #ff1414;
}

#info .icon {
  font-size: 41px;
  color: #ff3b4a;
}

#info .icon:hover {
  color: #ff6e79;
}

#info .sec {
  font-family: OpenSans, serif;
  width: 290px;
}

#info .sec h3 {
  font-size: 24px;
  margin-top: 23px;
}

#info .sec p {
  width: 100%;
  font-size: 16px;
  text-align: left;
  line-height: 28px;
  margin: 0;
  margin-bottom: 38px;
}

#info .sec h3, #info .sec p {
  opacity: 0.7;
  color: #000;
  font-weight: 400;
}

.separator {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ececec;
  margin-top: 62px;
}

#features {
  margin-top: 93px;
  text-align: center;
}

#features p {
  display: block;
  margin: 17px auto 0;
  max-width: 504px;
  opacity: 0.7;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

hr {
  width: 132px;
  height: 3px;
  background-color: #ff2d2d;
  margin: 25px auto 88px;
}

.menu ul {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
}

.menu ul li {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.menu ul li:hover {
  color: #ff2d2d;
}

.menu ul li:not(:last-child) {
  margin-right: 57px;
}

.gallery {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .pic {
  margin-bottom: 19px;
  background-color: #f5f0dd;
  width: 299px;
  height: 291px;
}

.gallery .pic img {
  height: 100%;
  width: 100%;
}

.gallery .pic:hover {
  -webkit-box-shadow: 0 0 20px 3px #BBB;
          box-shadow: 0 0 20px 3px #BBB;
}

#Team {
  overflow: hidden;
}

#Team h2 {
  margin-top: 108px;
}

#Team p {
  margin-top: 23px;
  max-width: 446px;
  opacity: 0.7;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

#Team hr {
  margin-left: 0;
}

#Team .people .per-show {
  margin-right: 63px;
  float: left;
  max-height: 460px;
  display: inline-block;
}

#Team .people .per-show img {
  width: 321px;
  background-color: #EEE;
}

#Team .people .details {
  display: inline-block;
  margin-top: 8px;
  vertical-align: top;
  width: auto;
}

#Team .people .details h3 {
  text-transform: uppercase;
  opacity: 0.8;
  color: #000;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.28px;
}

#Team .people .details p {
  max-width: 630px;
  opacity: 0.7;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

#Team .people .links ul {
  margin-top: 34px;
}

#Team .people .links li {
  margin-right: 30px;
  display: inline-block;
}

#Team .people .links a {
  text-decoration: none;
  opacity: 0.8;
  color: #000000;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  letter-spacing: 0.9px;
}

#Team .people .links a:hover {
  color: #4d4d4d;
}

#Team .people .others {
  margin-left: 68px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 855px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Team .people .others .person {
  background-color: #f5f0dd;
  width: 200px;
  height: 215px;
  overflow: hidden;
  cursor: pointer;
}

#Team .people .others .person img {
  width: 100%;
  height: 100%;
}

#Team .people .others .person p {
  text-transform: capitalize;
  text-align: center;
  position: relative;
  top: 100%;
  width: 100%;
  padding: 4px;
  background-color: #000;
  opacity: 0.5;
  color: #FFF;
  font-weight: 400;
  -webkit-transition: top 0.2s ease;
  -o-transition: top 0.2s ease;
  transition: top 0.2s ease;
}

#Team .people .others .person:hover p {
  top: -59px;
}

#subscr {
  display: table;
  position: relative;
  margin-top: 110px;
  width: 100%;
  height: 512px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #555;
  background-size: cover;
  overflow: hidden;
}

#subscr .search {
  position: relative;
  z-index: 10;
  text-align: center;
  color: #FFF;
  display: table-cell;
  vertical-align: middle;
}

#subscr .search h2 {
  opacity: 0.8;
  color: #FFF;
  font-size: 42px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 1.05px;
}

#subscr .search p {
  margin-top: 38px;
  opacity: 0.8;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

#subscr .search form {
  margin-top: 55px;
}

#subscr .search form input[type='email'] {
  width: 521px;
  height: 72px;
  border-radius: 5px;
  border: 0;
  background-color: #ffffff;
  padding: 36px;
  color: #2c2c2c;
  font-size: 16px;
}

#subscr .search form input[type='email']::-moz-placeholder {
  opacity: 0.7;
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
}

#subscr .search form input[type='email']:-ms-input-placeholder {
  opacity: 0.7;
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
}

#subscr .search form input[type='email']::-ms-input-placeholder {
  opacity: 0.7;
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
}

#subscr .search form input[type='email']::-webkit-input-placeholder {
  opacity: 0.7;
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
}

#subscr .search form input[type="submit"] {
  position: relative;
  top: 1px;
  margin-left: 22px;
  border-radius: 5px;
  outline: 0;
  width: 214px;
  height: 72px;
  background-color: #ff2d2d;
  border: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  cursor: pointer;
}

#subscr .search form input[type="submit"]:focus {
  text-decoration: none;
  color: #FFF;
}

#subscr .search form input[type="submit"]:hover {
  background-color: #ff4747;
  color: #FFF;
  text-decoration: none;
}

#subscr .search form input[type="submit"]:active {
  background-color: #ff1414;
}

#subscr .transparent-dark {
  position: absolute;
  z-index: 9;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
}

#subscr .slideshow-container {
  position: absolute;
  z-index: 5;
  height: inherit;
  width: inherit;
  overflow: hidden;
}

#subscr .slideshow-container img {
  display: inline-block;
  width: inherit;
  height: inherit;
  vertical-align: top;
  -webkit-animation: fadeIn 2s linear forwards, fadeOut 2s linear 6s forwards;
          animation: fadeIn 2s linear forwards, fadeOut 2s linear 6s forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .3;
  }
}

footer {
  position: relative;
  width: 100%;
  clear: both;
}

form.contact {
  margin-top: 95px;
  width: 731px;
  margin-bottom: 110px;
}

form.contact .title-form {
  width: 100%;
}

form.contact .title-form h2 {
  margin-bottom: 0;
}

form.contact .title-form p {
  margin-top: 33px;
  opacity: 0.7;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

form.contact .title-form hr {
  margin-left: 0;
}

form.contact .inp {
  width: 100%;
}

form.contact .inp input {
  padding: 0 26px 0 26px;
}

form.contact .inp input[name="name"] {
  display: inline-block;
  width: 339px;
  height: 69px;
  border: 0;
  background-color: #e6e6e6;
  color: #454545;
  border-radius: 14px;
}

form.contact .inp input[name="name"]:focus {
  border: 2px solid #007bff;
  border-radius: 14px;
  outline: none;
}

form.contact .inp input[name="email"] {
  display: inline-block;
  width: 339px;
  height: 69px;
  border: 0;
  background-color: #e6e6e6;
  color: #454545;
  border-radius: 14px;
  float: right;
}

form.contact .inp input[name="email"]:focus {
  border: 2px solid #007bff;
  border-radius: 14px;
  outline: none;
}

form.contact .text {
  width: 100%;
}

form.contact .text .mywidth {
  width: 100%;
  margin-top: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 14px;
  outline: none;
  padding: 36px;
  color: #454545;
  resize: none;
}

form.contact .text .mywidth:focus {
  border: 2px solid #007bff;
}

form.contact input[type="submit"] {
  text-transform: uppercase;
  border: 0;
  margin-top: 45px;
  height: 72px;
  width: 100%;
  background-color: #ff2d2d;
  color: white;
  border-radius: 8px;
  outline: none;
}

form.contact input[type="submit"]:focus {
  text-decoration: none;
  color: #FFF;
}

form.contact input[type="submit"]:hover {
  background-color: #ff4747;
  color: #FFF;
  text-decoration: none;
}

form.contact input[type="submit"]:active {
  background-color: #ff1414;
}

.contact-info {
  margin-bottom: 110px;
  position: absolute;
  bottom: 221px;
  right: 0;
  width: 500px;
  height: 481px;
  background-color: #2d2d2d;
  padding: 145px 79px;
}

.contact-info h4 {
  text-transform: uppercase;
  opacity: 0.8;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.32px;
}

.contact-info p {
  margin-top: 25px;
  width: 285px;
  opacity: 0.8;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

#footer {
  width: 100%;
  height: 111px;
  background-color: #313030;
  padding: 0;
  margin: 0;
  outline: 0;
}

#footer .container p {
  float: left;
  color: #b8b8b8;
  font-size: 16px;
  font-weight: 400;
  line-height: 111px;
  margin: 0;
}

#footer .container .icons {
  float: right;
  line-height: 111px;
}

#footer .container .icons a {
  text-decoration: none;
}

#footer .container .icons span .fas {
  color: #ebebeb;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

#footer .container .icons span .fab {
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #313030;
  font-size: 18px;
  position: relative;
}

#footer .container .icons span .fab:hover {
  color: #FFF;
}

#footer .container .icons span.google:hover .fas {
  color: #DB4437;
}

#footer .container .icons span.facebook:hover .fas {
  color: #4267B2;
}

#footer .container .icons span.in:hover .fas {
  color: #0077B5;
}

#footer .container .icons span.twitter:hover .fas {
  color: #00ACEE;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {
  .organization .title h1 {
    font-size: 55px;
    line-height: 64px;
  }
  .organization .video {
    width: 480px;
    height: 320px;
  }
  #Team .people .others {
    width: auto;
  }
  #Team .people .others .person {
    width: 22%;
    height: 170px;
  }
}

/**/
@media only screen and (max-width: 1139px) {
  .organization .title h1 {
    font-size: 55px;
    line-height: 64px;
  }
  .organization .video {
    width: 380px;
    height: 280px;
  }
  #Team .people .per-show {
    max-width: 45%;
    margin-bottom: 30px;
  }
  #Team .people .per-show img {
    max-width: 100%;
  }
  #Team .people .details {
    max-width: 45%;
  }
  #Team .people .others {
    margin-left: 0;
    clear: left;
  }
  #Team .people .others .person {
    width: 20%;
    height: 200px;
  }
  #subscr {
    height: 450px;
  }
  #subscr .search h2 {
    display: block;
    width: 75%;
    margin: auto;
    font-size: 40px;
    line-height: 40px;
  }
  #subscr .slideshow-container {
    width: 105%;
    margin-left: -2%;
  }
}

/**/
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  header {
    height: auto;
  }
  header .organization div:last-child {
    text-align: center;
  }
  header .organization .title {
    width: 100%;
    text-align: center;
    float: none;
    margin-top: 50px;
  }
  header .organization .title h1 {
    letter-spacing: 1.5px;
  }
  header .organization .title p {
    display: block;
    margin: auto;
  }
  header .organization .video-wrapper {
    float: none;
    margin-bottom: 40px;
  }
  header .organization .video {
    margin-top: 50px;
  }
  #info {
    margin-top: 70px;
    text-align: center;
  }
  #info h2 {
    text-align: center;
  }
  #info p {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 509px;
  }
  #info a.button {
    margin-top: 20px;
    margin-bottom: 45px;
  }
  hr {
    margin-bottom: 45px;
  }
  .menu ul {
    margin: auto;
    font-size: 18px;
  }
  .menu ul li:not(:last-child) {
    margin-right: 12px;
  }
  .gallery .pic {
    width: 31%;
    height: auto;
  }
  .gallery .pic img {
    max-width: 100%;
  }
  #Team {
    overflow: visible;
    height: auto;
  }
  #Team h2 {
    text-align: center;
  }
  #Team p {
    display: block;
    text-align: center;
    margin: auto;
  }
  #Team hr {
    margin: 25px auto 45px;
  }
  #Team .people .details {
    text-align: center;
  }
  #Team .people .details p {
    margin-top: 20px;
    text-align: justify;
  }
  #Team .people .links a {
    font-size: 16px;
  }
  #Team .people .links li {
    margin-right: 16px;
  }
  #Team .people .others .person {
    width: 20%;
    height: 160px;
    overflow: visible;
  }
  #Team .people .others .person p {
    position: static;
    opacity: 0.8;
  }
  #subscr .search h2 {
    width: 80%;
    font-size: 40px;
    line-height: 40px;
  }
  #subscr .search form {
    margin-top: 40px;
  }
  #subscr .search form input[type='email'] {
    width: 440px;
    height: 50px;
    padding: 32px;
  }
  #subscr .search form input[type="submit"] {
    display: block;
    margin: 20px auto 0;
    height: 64px;
    width: 200px;
  }
  #subscr .slideshow-container {
    width: 992px;
    margin-left: 0;
  }
}

/**/
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .menu ul {
    margin: auto;
  }
  .menu ul li {
    width: 250px;
    display: block;
  }
  .menu ul li:not(:last-child) {
    margin: 0 auto 15px;
  }
  .menu ul li:last-child {
    margin: auto;
  }
  .gallery .pic {
    width: 48%;
    height: auto;
  }
  .gallery .pic img {
    max-width: 100%;
  }
  #Team .people .per-show {
    margin-right: 35px;
  }
  #Team .people .links {
    text-align: center;
  }
  #Team .people .links ul {
    margin-top: 18px;
  }
  #Team .people .links li {
    margin-right: 30px;
    margin-top: 5px;
  }
  #Team .people .others .person {
    width: 22%;
    height: 130px;
  }
  #Team .people .others p {
    font-size: 14px;
  }
  #subscr .search h2 {
    width: 80%;
    font-size: 35px;
    line-height: 40px;
  }
  #subscr .search p {
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 26px;
  }
}

/**/
/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .toggle-button {
    display: block;
  }
  nav {
    margin-top: 0;
    height: auto;
    display: none;
  }
  nav ul {
    width: 100%;
    max-width: 100%;
  }
  nav ul li {
    display: block;
    background-color: #313030;
    border-top: 1px solid;
  }
  nav ul li a {
    line-height: 60px;
    text-align: center;
    padding: 0;
  }
  .organization .title {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
  }
  .organization .title h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .organization .title p {
    font-size: 14px;
    width: 100%;
    max-width: 380px;
  }
  .organization .video-wrapper {
    padding: 0 20px;
  }
  .organization .video {
    width: 100%;
  }
  #info {
    margin-left: 10px;
    margin-right: 10px;
  }
  hr.separator {
    max-width: 320px;
  }
  #features {
    margin: 8px;
  }
  #features p {
    width: 90%;
  }
  #Team {
    margin: 10px;
  }
  #Team .people .per-show {
    margin-right: 20px;
  }
  #Team .people .details h3 {
    font-size: 25px;
  }
  #Team .people .details p {
    font-size: 13px;
    line-height: 24px;
  }
  #Team .people .links ul {
    margin-top: 10px;
  }
  #Team .people .links a {
    font-size: 14px;
  }
  #Team .people .others .person {
    width: 97px;
    height: 105px;
  }
  #Team .people .others .person p {
    font-size: 12px;
  }
  #subscr .search h2 {
    width: 80%;
    font-size: 32px;
    line-height: 37px;
  }
  #subscr .search form {
    margin: 40px 10px 10px;
  }
  #subscr .search form input[type='email'] {
    width: 100%;
    max-width: 440px;
    height: 50px;
    padding: 26px;
    font-size: 14px;
  }
  #subscr .search form input[type="submit"] {
    display: block;
    margin: 20px auto 0;
    height: 48px;
    width: 200px;
  }
}

/**/
@media only screen and (max-width: 415px) {
  #Team .people .per-show {
    display: block;
    float: none;
    margin: auto;
    margin-bottom: 20px;
    max-width: 55%;
  }
  #Team .people .per-show img {
    max-width: 100%;
  }
  #Team .people .details {
    display: block;
    margin: auto;
    max-width: 80%;
  }
  #Team .people .details h3 {
    font-size: 20px;
  }
  #Team .people .details p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
  }
  #Team .people .links ul {
    margin-top: 10px;
  }
  #Team .people .links li {
    margin-right: 15px;
    margin-top: 5px;
  }
  #Team .people .others {
    margin: auto;
    width: 250px;
  }
  #Team .people .others .person {
    margin-bottom: 40px;
  }
  #subscr .search h2 {
    width: 80%;
    font-size: 28px;
    line-height: 37px;
  }
  #subscr .search p {
    margin-top: 20px;
  }
  #subscr .search form {
    margin: 30px 10px 10px;
  }
  #subscr .search form input[type='email'] {
    width: 100%;
    max-width: 440px;
    height: 35px;
    padding: 20px;
    font-size: 14px;
  }
  #subscr .search form input[type="submit"] {
    display: block;
    margin: 20px auto 0;
    height: 40px;
    width: 200px;
  }
}

/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .organization .title h1 {
    font-size: 28px;
    line-height: 35px;
  }
  .organization .title p {
    line-height: 1.75;
  }
  .organization .video {
    width: 100%;
    height: 200px;
  }
}

/**/
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .container {
    padding: 0;
    margin-bottom: 0;
    /**/
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 576px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

@media only screen and (min-width: 1140px) {
  .container {
    max-width: 1100px;
  }
}

/**/
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1301px) {
  .container {
    max-width: 1249px;
    /**/
  }
}

@media only screen and (min-width: 1471px) {
  .contact-info {
    width: 577px;
  }
}

/**/
